@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 class="text-info">Pagina Principal</h1>
<p align="center">Aplicacion para poder llevar el control de las rutas de transporte</p>
<img src="/Images/rutas-transporte.jpg" width="1060" height="350" />
