@page
@model EnergyUI.Pages.Containers.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">Control de rutas</h1>
<form class="mt-3" method="post">
</form>
<form>
    <div class="form-group">
        <label for="inputAddress">Nombre de supervisor</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Ruta</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Id de ruta">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Conductor</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Id de conductor">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Numero de camion</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Id de camion">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Hora Llegada</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Hora de Salida</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="form-group col-md-6" align="left" font size="5">
        <label for="inputCity">Informacion de viaje</label>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Niños/Estudiantes</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="# de niños/estudiantes">
        </div>
        <div class="form-group col-md-4">
            <label for="inputZip">Adultos</label>
            <input type="text" class="form-control" id="inputZip" placeholder="# de adultos">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Incidentes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

