@page
@model EnergyUI.Pages.Containers.EditDriverModel
@{
    ViewData["Title"] = "EditDriver";
}

<h1>Editar Conductores</h1>
<form class="mt-3" method="post">
    <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary m-2">Update</button>
        <a asp-page="/Containers/CDriver" class="btn btn-secondary m-2">Cancel</a>
    </div>
    <input hidden asp-for="Drivers.Id" />
</form>
<div class="form-group">
    <label>Nombre del conductor</label>
    <input class="form-control form-text" role="textbox" asp-for="Drivers.DriverName" />
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label>INE</label>
        <input type="text" class="form-control" asp-for="Drivers.INE" />
    </div>
    <div class="form-group col-md-6">
        <label>Licencia</label>
        <input type="text" class="form-control" asp-for="Drivers.License" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label>NSS</label>
        <input type="text" class="form-control" asp-for="Drivers.NSS" />
    </div>
</div>
<div class="col-md-12">
    <label>Status</label>
    <select asp-for="Drivers.Status" class="form-control">
        <option value="" disabled="" selected="">Selecciona Status</option>
        <option value="True">Activo</option>
        <option value="False">Inactivo</option>
    </select>
</div>

